# === .NET build artifacts ===
Switch/bin/
Switch/obj/
Installer/bin/
Installer/obj/
*.admin.exe

# === IDEs & Editors ===
.vscode/
.idea/
*.suo
*.user
*.sublime-project
*.sublime-workspace

# === OS Files ===
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# === Logs ===
*.log
